body{padding-top:70px}.theme-dropdown .dropdown-menu{position:static;display:block;margin-bottom:20px}.theme-showcase>p>.btn{margin:5px 0}.theme-showcase .navbar .container{width:auto}#map{width:100%;height:250px;display:block}.google-map-canvas,.google-map-canvas *{.box-sizing(content-box)}img{max-width:none}@media(max-width:768px){.nav-tabs.nav-justified>li{float:left}}.feedback{border:1px solid black;color:black;padding:20px;font-size:16px;margin-bottom:35px}.feedback.error{border:1px solid red;color:red}.feedback.success{border:1px solid green;color:green}#carousel-example-generic{margin-top:40px}.carousel-linked-nav,.item img{display:block;margin:0 auto}.carousel-linked-nav{width:120px;margin-bottom:20px}h1{font-size:36px !important}.headClass{font-size:26px !important}.subHeadClass{font-size:22px !important}.choiceAHeadClass{font-size:16px !important;font-weight:bold}@media(max-width:1100px){#movies{display:none}}@media screen and (max-width:992px){h1{font-size:15px}h2{font-size:22px}h3{font-size:18px}.headClass{font-size:12px !important}.subHeadClass{font-size:10px !important}.choiceAHeadClass{font-size:14px !important;font-weight:bold}}@media screen and (max-width:768px){h1{font-size:20px !important}.lead{font-size:15px !important}.headClass{font-size:12px !important}.subHeadClass{font-size:10px !important}.displayNone{display:none}.choiceAHeadClass{font-size:10px !important;font-weight:bold}.blink{display:none}#static-text{position:absolute;padding:0;background-color:#45aeea;z-index:0;font-size:15px}.scrollingtext{position:absolute;font-size:15px}.message{font-size:15px !important}.choiceAHeadClass{font-size:10px !important;font-weight:bold}.displayNone{display:none}h2{font-size:18px}h3{font-size:16px}}#movies img{position:absolute;cursor:pointer;width:620px}@media(max-width:1100px){#only_shree{display:none}h1{font-size:15px}}@media(max-width:768px){.btn{padding:2px 4px !important;font-size:80% !important;border-radius:3px !important}}#only_shree img{position:absolute;cursor:pointer;float:left}footer{color:white;background:#45aeea;padding:17px 0 18px 0;border-top:1px solid #45aeea}footer a{color:white;font-weight:100;font-family:cursive;font-style:oblique;font-size:initial}footer a:hover{color:#white;font-size:large}
.logo h1 {
    color: #000000;
    font-size: 80px;
    padding-bottom:40px;
}

.text-muted {
    color:#000000;
    font-size:25px;
}

/*media queries*/

@media (max-width: 767px){
    .logo h1 {
        font-size: 65px;
    }
}
